body {
	background-color: #FFFAF0;
	/* overflow-x: hidden; */
}

.navigation {
	font-family: 'Alegreya Sans SC';
	font-size: 18px;
}

#logo_text {
	 font-family: 'Alegreya';
	 font-size: 26px;
}

.about {
	font-family: 'Didact Gothic';
}

h5 {
	Font-family: 'Didact Gothic';
	font-weight: bold;
	color: #E19F7D;
}

.navbar-custom .navbar-nav {
	text-decoration: none;
	font-size: large;
	Font-family: 'Didact Gothic';
	color: black;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #E19F7D;
	Font-family: 'Didact Gothic';
}

#displayDirections {
	overflow-y: auto;
	height: 700px;
}

.directions {
	font-family: 'Didact Gothic';
	padding-bottom: 50px;
}

.summary {
	font-size: larger;
	font-family: 'Didact Gothic';
}